# RabbitMQ
RABBITMQ_USER=admin
RABBITMQ_PASS=admin123

# OMS — PostgreSQL
OMS_DB_USER=oms_user
OMS_DB_PASS=oms_pass
DATABASE_URL=postgresql://oms_user:oms_pass@db-oms:5432/oms_db

# WMS — MySQL
WMS_DB_USER=wms_user
WMS_DB_PASS=wms_pass
WMS_DB_ROOT_PASS=wms_root
MYSQL_URL=mysql+pymysql://wms_user:wms_pass@db-wms:3306/wms_db

# SLS — MongoDB
SLS_DB_USER=sls_user
SLS_DB_PASS=sls_pass
MONGO_URL=mongodb://sls_user:sls_pass@db-sls:27017/sls_db

# CTN — Redis
REDIS_URL=redis://db-ctn:6379

# Shared broker
RABBITMQ_URL=amqp://admin:admin123@rabbitmq:5672

# WMS Config
WAREHOUSE_ID=WH-JAKARTA-01

# Transformer Config
WMS_API_URL=http://wms-app:8002/api/v1/alokasi
TRANSFORMER_MAX_RETRIES=3
